body {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-text-primary-on-background);
    font-family: Roboto, monospace;
    margin: 0;
}

pre,
pre[class*="language-"] {
    background-color: transparent;
    color: var(--mdc-theme-text-primary-on-background);
    font-size: 14px;
    font-family: monospace;
    tab-size: 2;
}

pre[class*="language-"] code {
    color: var(--mdc-theme-text-primary-on-background);
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: monospace;
}

.standard-image-list {
    max-width: 900px;
}
.standard-image-list .mdc-image-list__image-aspect-container {
    padding-bottom: calc(100% / 1);
}
.standard-image-list .mdc-image-list__item {
    width: calc(100% / 5 - 4.2px);
    margin: 2px;
}
.standard-image-list .mdc-image-list__image {
    border-radius: 8px;
}
.standard-image-list.mdc-image-list--with-text-protection .mdc-image-list__supporting {
    border-radius: 0 0 8px 8px;
}